@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(174, 39%, 63%);
  --header-bg-color: hsl(174, 3%, 19%);
  --footer-text-color: hsl(174, 6%, 50%);
  --logo-font-fam: "Dancing Script", sans-serif;
  --nav-font-fam: "Merriweather Sans", sans-serif;
  --nav-border-bottom: 3px solid var(--primary-color);
  --menu-card-border: 1px solid hsl(174, 16%, 84%);
  --menu-card-bg: hsl(172, 100%, 96%);
  --menu-card-color: hsl(174, 100%, 92%);
}

body {
  height: 100vh;
  font-family: var(--nav-font-fam);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Logo */
.logo {
  margin-top: 25px;
  font-family: var(--logo-font-fam);
  color: var(--primary-color);
  font-size: 72px;
  font-weight: 900;
  cursor: default;
}

.tag {
  color: hsl(174, 11%, 50%);
  margin-top: -30px;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: var(--header-bg-color);
}

/* Nav Bar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--nav-font-fam);
  height: 40px;
  flex-shrink: 0;
  padding-bottom: 10px;
  gap: 2rem;
}

.nav-item {
  padding: 10px;
  color: #fff;
}

.nav-item:hover {
  border-bottom: var(--nav-border-bottom);
  cursor: pointer;
}

.tab-active {
  border-bottom: var(--nav-border-bottom);
}

/* Main Content */
.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero {
  width: 1100px;
  opacity: 0.8;
  border-radius: 5px;
}

.large {
  font-size: 4rem;
  color: white;
  z-index: 1;
  font-family: var(--logo-font-fam);
}

.medium {
  font-size: 2rem;
  color: white;
  z-index: 1;
}

.offset-dn {
  margin-bottom: -90px;
}

.offset-up {
  margin-top: -90px;
}

/* Menu */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  gap: 25px;
  grid-auto-flow: row;
}

.grid-item {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border-radius: 10px;
  border: var(--menu-card-border);
  background-color: var(--menu-card-bg);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.211);
}

.menu-img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.cookie-name {
  font-size: 1.2rem;
}

/* Contact Page */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 15px;
  width: 50%;
  padding: 2rem;
}

.email {
  padding-top: 10px;
}

.map-img {
  margin-top: 25px;
  width: 100%;
}

/* Footer */
.footer {
  width: 100%;
  height: 50px;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--footer-text-color);
  align-self: flex-end;
}
